---
---

@import "{{ site.theme }}";

/* ===== Sidebar styling ===== */

/* Sidebar background */
header {
  background-color: #230F2A;   /* Sidebar Background */
}

/* Title text ("Sarah the Physicist") */
header h1 {
  color: #E3CBEC;
}

/* Subtitle text */
header p {
  color: #cbd5e1;
}

/* Navigation links */
header nav a {
  color: #ffffff;
}

/* Navigation link hover */
header nav a:hover {
  color: #B49AFC;
}

/* Navigation buttons */
header nav ul li {
  background: #FFE085;
  border-radius: 6px;
  margin-bottom: 8px;
  padding: 6px 10px;
}

/* Hover effect for buttons */
header nav ul li:hover {
  background: #503355;
}

